# Cli Simple Hub Environment Variables
# Copy this file to .env and customize the values

# Proxy Server Configuration
PORT=5600
LISTEN_ADDR=0.0.0.0

API_KEY=your-secret-key-here

# Data Directory
DATA=/data

# Proxy Configuration
CLASH_SOCKS_LISTEN=0.0.0.0
CLASH_SOCKS_PORT=10808
